<!DOCTYPE html>
<html lang="fr"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>Sentiment Analysis</title>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/4.1.3/css/bootstrap.min.css"/>
    <script src="/webjars/jquery/3.4.1/jquery.min.js"></script>
    <script src="/webjars/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <style>
        .logo-image {
            width: 46px;
            height: 46px;
            overflow: hidden;
            margin-top: -6px;
        }
    </style>
</head>
<body>
<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <a sec:authorize="isAuthenticated()" class="navbar-brand" href="#">
        <img class="logo-image" th:src="@{/images/jdoc.png}">
    </a>
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" sec:authorize="isAuthenticated()" th:href="@{logiciels}">Your softwares</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" sec:authorize="isAuthenticated()" th:href="@{logicielsGratuits}">Free softwares</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" sec:authorize="hasRole('ROLE_ADMIN')" th:href="@{users}">Gérer users</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" sec:authorize="hasRole('ROLE_ADMIN')" th:href="@{ajouterLogicielGratuit}">Ajouter
                logiciel gratuit</a>
        </li>
    </ul>
    <ul class="navbar-nav ml-auto">
        <li sec:authorize="isAuthenticated()" class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbardrop1" data-toggle="dropdown">
                <span sec:authentication="name"></span>
            </a>
            <div class="dropdown-menu">
                <a class="dropdown-item" sec:authorize="hasRole('ROLE_ADMIN')"
                   th:href="@{registration}">Registration</a>
                <a class="dropdown-item" th:href="@{logout}">Logout</a>
            </div>
        </li>
    </ul>
</nav>
<section layout:fragment="pageContent">

</section>
</body>
</html>